{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Опитування з програмування</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <h1>Технічні опитування</h1>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="/{{ question.id }}/">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Питань поки немає.</p>
    {% endif %}
</body>
</html>